/* .submit-form {
  max-width: 800px;
  margin: auto;
  display: flex;
} */

.wrapper {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 10px;
}

.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.panel-trades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trade-card {
  min-width: 460px;
  max-width: 460px;
  min-height: 200px;
  border: 1px blue dotted;
  margin: 5px;
}